# --- Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
.eggs/
*.log
*$py.class
*.db

# pyenv
.python-version

# --- Jupyter
.ipynb_checkpoints/
*.ipynb_convert
# keep notebooks but consider stripping outputs (see section 7)

# --- Environments
.env
.venv
venv/
env/
ENV/
env.bak/
venv.bak/
.conda/
*.conda
*.lock

# --- Data & artifacts
data/
!data/.gitkeep
outputs/
models/
reports/
*.csv
*.zip
*.data
*.txt
*.labels

# --- OS / tools
.DS_Store
Thumbs.db

# --- PyCharm
.idea/

# files not to put in repo
Make-toy-finance-dataset.ipynb
tbf
.pre-commit-config.yaml